/**
 * Colors variables
 */
@use 'sass:map';

$theme-colors: (
  default: (
    primary: #000000,
    secondary: #ffffff,
    shadow: #404040,
    white: #ffffff,
  ),

  contrasted: (
    primary: #ffffff,
    secondary: #000000,
    shadow: #404040,
    white: #ffffff,
  ),
);
