/**
 * Fonts variables
 */
@use "sass:list";
@use "sass:map";

/* Families */
$theme-font-families: (
  fraktion: "'Helvetica Neue', monospace",
  editorial: "'Helvetica Neue', sans-serif",
  bigger: "'Helvetica Neue', sans-serif",
);

/* Sizes */
$theme-font-styles: (
  default: (
    base: (15px, 400, 1.48, editorial, -0.025em),
  ),
);
